{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<style>
.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}
</style>
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#generate").click(function() {
            if (!$("#operator").val()) {
                alert("You must select an operator");
            } else {
                $("#operator-supply").html($("#operator :selected").text());
                $("#body").fadeIn(1000);
                $("#generator-container").slideToggle(100);
                $("#header").html("<h3>Quiz</h3>")
                $("#id_operator").val($("#operator").val());
            }
        });
        $('.fraction').each(function(key, value) {
            $this = $(this);
            var split = $this.html().split("/");
            if( split.length == 2 ) {
                $this.html('<span class="top">'+split[0]+'</span><span class="bottom">'+split[1]+'</span>');
            }    
        });
    });
</script>
<h1 class="page-header">Quizzer</h1>
<div style="text-align: center;" id="generator-container">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <div>
        <select id="operator" class="form-group" style="font-size: 28px; text-align: center;">
            <option value="{{ model.ADD }}">+</option>
            <option value="{{ model.SUB }}">-</option>
            <option value="{{ model.MUL }}">×</option>
            <option value="{{ model.DIV }}">÷</option>
        </select>
    </div>
    <br/>
    <div>
        <button id="generate" style="font-size: 28px;" class="btn btn-primary">Generate</button>
    </div>
</div>
<br/>
<div class="panel panel-default">
    <div class="panel-heading" id="header" style="text-align: center;">
        <h3>Select Operator then click "Generate"</h3>
    </div>
    <div class="panel-body" id="body" style="text-align: center; display: none; font-size: 20px;">
        <form action="/math/selection/quizzer/" method="post">
            {% csrf_token %}
            <span class="fraction">{{ fraction1.numerator }}/{{ fraction1.denominator }}</span>
            <span id="operator-supply" style="margin: 5px 5px 10px 5px; font-size: 28px;"></span>
            <span class="fraction">{{ fraction2.numerator }}/{{fraction2.denominator }}</span>
            <span>= </span>
            {{ form.numerator }}
            /
            {{ form.denominator }}
            {{ form.operator }}
            ?
            <input type="hidden" name="fraction1num" value="{{ fraction1.numerator }}">
            <input type="hidden" name="fraction1den" value="{{ fraction1.denominator}}">
            <input type="hidden" name="fraction2num" value="{{ fraction2.numerator }}">
            <input type="hidden" name="fraction2den" value="{{ fraction2.denominator}}">
            <br/>
            <br/>
            <div class="alert alert-warning"><i class="glyphicon glyphicon-warning-sign"></i> You must reduce the fraction to get full points</div>
            <br/>
            <button class="btn btn-success">Check</button>
        </form>
    </div>
</div>
{% endblock %}